= render "partial/header"

.registration_edit
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource

    -# ============ ニックネーム ============

    .registration_edit__field
      .registration_edit__field__title
        = f.label "ニックネーム"
      .registration_edit__field__column
        = f.text_field :nickname

    -# ============ プロフィール画像 ============

    .registration_edit__field
      .registration_edit__field__title
        = f.label "プロフィール画像"
      .registration_edit__field__column
        = f.file_field :image

    -# ============ プロフィール文章 ============

    .registration_edit__field
      .registration_edit__field__title
        = f.label "プロフィール文章"
      .registration_edit__field__column
        = f.text_area :profile

    -# ============ メアド ============

    .registration_edit__field
      .registration_edit__field__title
        = f.label "メールアドレス"
      .registration_edit__field__column
        = f.email_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    -# ============ パスワード ============

    .registration_edit__field
      .registration_edit__field__title
        = f.label "パスワード(#{@minimum_password_length}文字以上で入力してください)"
      .registration_edit__field__column
        = f.password_field :password, autocomplete: "new-password"


    -# ============ パスワード確認 ============

    .registration_edit__field
      .registration_edit__field__title
        = f.label "パスワード確認"
      .registration_edit__field__column
        = f.password_field :password_confirmation, autocomplete: "new-password"

    -# ============ 更新ボタン ============

    .registration_edit__field
      = f.submit "更新する"

    -# ============ 削除ボタン ============
  %h3
    .registration_edit__field
      #{button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}

    -# ============ 戻るボタン ============
    .registration_edit__field
      = link_to "戻る", :back

= render "partial/footer"