= render "partial/header"

.roomimages__edit
  .roomimages__edit__image
    = image_tag @room.image.url

  .roomimages__edit__form
    = form_for(@room,url: roomimage_path,method: :patch) do |r|
      .roomimages__edit__form__image
        = r.file_field :image
      .roomimages__edit__form__text
        = r.text_area :text,placeholder: "入力しよう"
      .roomimages__edit__form__submit
        = r.submit "投稿する"

= render "partial/footer"