= render "partial/header"

.roomimages_show
  .roomimages_show__topbox
    = link_to "#{@user.nickname}さん",user_path(@user)
    の部屋
  .roomimages_show__room_detail
    .roomimages_show__room_detail__left
      = image_tag @room.image.url,class: "roomshowradius",size: "500x500"
    .roomimages_show__room_detail__right
      .roomimages_show__room_detail__right__text
        = @room.text
      -# =============== いいね ===============
      .roomimages_show__room_detail__right__like
        .roomimages_show__room_detail__right__like__delete
          - if user_signed_in?
            - if current_user.already_liked?(@room)
              = button_to 'いいね!を取り消す', roomimage_roomlike_path(@room), method: :delete,local: true,class: "likesbutton--delete"
            -  else
              = button_to 'いいね!', roomimage_roomlikes_path(@room),local: true,class: "likesbutton--do"

        .roomimages_show__room_detail__right__like__counts
          いいね数
          = @room.roomlikes.count

        .roomimages_show__room_detail__right__like__users
          .roomimages_show__room_detail__right__like__users--title
            いいねしたユーザー
          .roomimages_show__room_detail__right__like__users--userimages
            - @room.liked_users.last(10).each do |user|
              = image_tag user.image.url,size: "40x40", class: "roomimages_show__likeduser__image"

  .roomimages_show__commentform
    .roomimages_show__commentbox__form
    = form_for [@room,@comment] do |c|
      .roomimages_show__commentbox__form__text
        = c.text_area :text,placeholder: "本文",class: "comment"
      .roomimages_show__commentbox__form__text__submit
        = c.submit "投稿",class: "submit"

  .roomimages_show__commentindex
    - @comments.each do |comments|
      = comments.text

= image_tag @room.image.url,class: "roomshowradius wrapper__roomimages_modal"

= render "partial/footer"