-# ==================== ③モノの画像 ====================
.users__show__items
  .users__show__items__box1
    .users__show__items__box1__left
      .users__show__items__box1__left--title
        = "#{@user.nickname}さんのモノ"
      .users__show__items__box1__left--more
        = link_to "もっと見る",items_path
    - if user_signed_in? && current_user.id == @user.id
      .users__show__items__box1__right
        = link_to "モノの写真を投稿する",new_item_path

    -# ==================== モノの画像の投稿フォーム ====================
  .users__show__items__box2
    -# ==================== モノの画像の表示 ====================
    - if @user.items.present?
      - @user.items.last(10).each_with_index do |i|
        .users__show__items__box2__images
          .users__show__items__box2__images--image
            = image_tag i.image.url,class: "itemimage",size: "300x300"
          - if user_signed_in? && current_user.id == @user.id
            .users__show__items__box2__images--mod
              .users__show__items__box2__images--mod--edit
                = link_to "編集",edit_item_path(i.id)
              .users__show__items__box2__images--mod--delete
                = link_to "削除",item_path(i.id),method: :delete
    - else
      %p 投稿はまだない