-# ==================== ②部屋の画像 ====================
.users__show__roomimages
  .users__show__roomimages__box1
    .users__show__roomimages__box1__left
      .users__show__roomimages__box1__left--title
        = "#{@user.nickname}さんの部屋"
      .users__show__roomimages__box1__left--more
        = link_to "もっと見る",roomimages_path
    - if user_signed_in? && current_user.id == @user.id
      .users__show__roomimages__box1__right
        = link_to "部屋の写真を投稿する",new_roomimage_path

    -# ==================== 部屋の画像の投稿フォーム ====================
  .users__show__roomimages__box2
    -# ==================== 部屋の画像の表示 ====================
    - if @user.roomimages.present?
      - @user.roomimages.last(10).each_with_index do |r|
        .users__show__roomimages__box2__images
          .users__show__roomimages__box2__images--image
            = image_tag r.image.url,class: "roomimage",size: "300x300"
          .users__show__roomimages__box2__images--mod
            .users__show__roomimages__box2__images--mod--edit
              = link_to "編集",edit_roomimage_path(r.id)
            .users__show__roomimages__box2__images--mod--delete
              = link_to "削除",roomimage_path(r.id),method: :delete

    - else
      %p 投稿はまだありません