= render "partial/header"
.users__show__roomimages
  .users__show__roomimages--text
    .users__show__roomimages--text--title
      = "#{@user.nickname}さんの部屋"
      %br/
    .users__show__roomimages--title--post
      = link_to "投稿する",new_roomimage_path
  .users__show__roomimages--images
    %br/
    - if @user.roomimages.present?
      - @user.roomimages.each do |r|
        = image_tag r.image.url
      - if current_user
        = link_to "削除",roomimage_path,method: :delete
    - else
      %p 投稿はまだありません

  .users__show__goods
    -# = "#{@user.nickname}さんの"
    -# %br/
    -# - if @user.roomimages.present?
    -#   - @user.roomimages.each do |r|
    -#     = image_tag r.image.url
    -# - else
    -#   %p 投稿はまだありません

= render "partial/footer"