= render "partial/header"

.users__show
  -# ==================== ①プロフィール ====================
  = render "show_1_profile"
  -# ==================== ②部屋の画像 ====================
  = render "show_2_room"
  -# ==================== ③モノの画像 ====================
  = render "show_3_items"
  -# ==================== ④ブログ ====================
  = render "show_4_blogs"
  -# ==================== ⑤家計簿 ====================
  .users__show__kakeibo


= render "partial/footer"