.header
  .header__box
    .header__box__1
      = link_to "SNS",root_path
    .header__box__2
      %input.search-input{class: "header__box__2__form",name: "q", placeholder: "検索", type: "text", value: params[:q], style: "width: 200px; height:30px;"}
      .header__box__2__button
      = link_to root_path do
        %i.fa.fa-cog.serachicon
    .header__box__3
      - if user_signed_in?
        .header__box__3--mypage
          = link_to "マイページ",user_path(current_user)
        .header__box__3--logout
          = link_to "ログアウト",destroy_user_session_path, method: :delete
      - else
        .header__box__3--registration
          = link_to "新規登録",new_user_registration_path
        .header__box__3--login
          = link_to "ログイン",new_user_session_path