= render "partial/header"

.homes__index
  -# ============ 人気の部屋 ============
  .homes__index__rooms
    .homes__index__rooms__titlebox
      .homes__index__rooms__titlebox--index
        %p 人気の部屋
      .homes__index__rooms__titlebox--more
        = link_to "もっと見る",roomimages_path
    .homes__index__rooms__boxes
      - @rooms.last(3).each do |r|
        .homes__index__rooms__boxes__box
          .homes__index__rooms__boxes__box__image
            = link_to "#{r.user.nickname}",roomimage_path(r)
            = image_tag r.image.url,size: "300x300",class: "indexradius"
          .homes__index__rooms__boxes__box__names
            = link_to "#{r.user.nickname}",roomimage_path(r)
            = r.user.nickname

  -# ============ 人気のユーザー ============

  .homes__index__users
    .homes__index__users__titlebox
      .homes__index__users__titlebox--index
        %p 人気のユーザー
      .homes__index__users__titlebox--more
        = link_to "もっと見る",users_path
    .homes__index__users__boxes
      - @users.last(5).each do |u|
        .homes__index__users__boxes__box
          .homes__index__users__boxes__box__images
            = link_to "#{u.nickname}",user_path(u)
            = image_tag u.image.url,size: "150x150",class: "indexradius"
          .homes__index__users__boxes__box__names
            = "#{u.nickname}"

= render "partial/footer"